.HomePageHeroSection {
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}

.sliderContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.playBtn {
  outline: none;
  border-radius: 10px;
  border: 1px solid #ededed;
  color: #ededed;
  background-color: transparent;
  padding: 0.5rem 0.5rem;
  width: 40%;
  margin-top: auto;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    border 0.2s ease-in-out;
}
.playBtn:hover {
  background-color: #ededed;
  color: black;
}
.subHeading {
  display: none;
}
.verticalLine {
  display: none;
}
.infoContainer {
  flex-direction: column;
}

.isHoverCon {
  width: 40%;
  height: 100%;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  opacity: 0;
}

.heading {
  font-size: 1rem;
  color: #ededed;
  font-family: "Roboto", sans-serif;
  line-height: 16px;
  list-style: outside none none;
  white-space: nowrap;
}
.subTitle {
  display: flex;
  text-align: start;
  color: #ededed;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  line-height: 1.5rem;
}

@media (min-width: 600px) {
  .sliderContainer {
    margin: 0;
  }
  .heading {
    font-size: 1.5rem;
  }
  .subTitle {
    font-size: 0.8rem;
    margin: 0;
  }
  .crousel:hover .isHoverCon {
    opacity: 1;
  }
  .playBtn {
    font-size: 12px;
    border-radius: 6px;
    font-weight: 600;
  }
  .subHeading {
    display: flex;
    font-size: 16px;
    line-height: 1.3rem;
    text-align: start;
    color: #ededed;
    font-family: "Roboto", sans-serif;
  }
}

@media (min-width: 1000px) {
  .heading {
    font-size: 2rem;
  }
  .subTitle {
    font-size: 1rem;
  }
  .subHeading {
    font-size: 18px;
    line-height: 1.5rem;
  }
  .infoContainer {
    width: 100%;
    display: flex;
    gap: 1rem;
  }

  .playBtn {
    font-size: 18px;
    border-radius: 10px;
    font-weight: 700;
    width: 50%;
    padding: 0.8rem 0.5rem;
  }
}
